<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="edu.utulsa.ibcb.moodstudy"
      android:versionCode="18"
      android:versionName="0.9.7">
    <uses-sdk android:minSdkVersion="9" />
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
	<uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS"/>
	 
    <application android:icon="@drawable/icon" android:label="@string/app_name">
        <activity android:name=".MainActivity"
                  android:screenOrientation="portrait" android:configChanges="keyboard|keyboardHidden|orientation" android:description="@string/app_name" android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity android:name="PlayerIdentificationActivity" android:screenOrientation="portrait" android:configChanges="keyboard|keyboardHidden|orientation" android:noHistory="true"></activity>
        <activity android:name="RegistrationSurveyActivity" android:screenOrientation="portrait" android:configChanges="keyboard|keyboardHidden|orientation" android:noHistory="true"></activity>
        <activity android:name="InstructionsActivity" android:screenOrientation="portrait" android:configChanges="keyboard|keyboardHidden|orientation" android:noHistory="true"></activity>
        <activity android:name="InitialSurveyActivity" android:screenOrientation="portrait" android:configChanges="keyboard|keyboardHidden|orientation" android:noHistory="true"></activity>
        <activity android:name="GamePromptActivity" android:screenOrientation="portrait" android:configChanges="keyboard|keyboardHidden|orientation" android:noHistory="true"></activity>
        <activity android:name="DiceGame2DActivity" android:screenOrientation="portrait" android:configChanges="keyboard|keyboardHidden|orientation" android:noHistory="true"></activity>
        <activity android:name="GameResultsActivity" android:screenOrientation="portrait" android:configChanges="keyboard|keyboardHidden|orientation" android:noHistory="true"></activity>
        <activity android:name="FinalSurveyActivity" android:screenOrientation="portrait" android:configChanges="keyboard|keyboardHidden|orientation" android:noHistory="true"></activity>
        <activity android:name="DevelopmentPreferencesActivity" android:screenOrientation="portrait" android:configChanges="keyboard|keyboardHidden|orientation" android:noHistory="true"></activity>
        
    	<activity android:name=".opengl.OpenGLTestActivity" android:screenOrientation="portrait" android:configChanges="keyboard|keyboardHidden|orientation" android:noHistory="true"></activity>
        <activity android:name=".opengl.DiceGameActivity" android:screenOrientation="portrait" android:configChanges="keyboard|keyboardHidden|orientation" android:noHistory="true"></activity>
        
    </application>
</manifest>